@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

h1{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

h2{
  padding-top: 5px;
  padding-left: 10px;
}

ul{
  padding-left: 30px;
  padding-top: 20px;
  
}


body{
  background-color: #f4f6f8;
  font-family: 'poppins', sans-serif;
}

main{
  max-width: 600px;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  width: 100%;
  max-width: 300px;
  padding: 8px;
}

button{
  color:white;
  background-color: rgb(26, 83, 188);
  border: none;
  margin: 5pt;
  padding-left: 2pt;
  padding-right: 2pt;
  padding-bottom: 2pt;
  padding-top: 2pt;
  cursor: pointer;
  font-size: 10pt;
  transition: 0.3s ease;
}

button:hover{
color:rgb(142, 107, 175);
}


#name-input{
  margin: 5px;
  margin-top: 10px;
}

#email-input{
  margin: 5px;
  margin-top: 10pt;
}

footer{
  margin: 5px;
  margin-top: 10px;
}